@use '../css/variables' as v;

.animate-on-scroll { 
    opacity: 0; 
    transform: translateY(30px); 
    transition: 0.8s ease; 
    &.is-visible { 
        opacity: 1; 
        transform: translateY(0); 
    }
}

@keyframes giroEntrada {
    0% { transform: rotate(-180deg) scale(0); opacity: 0; }
    100% { transform: rotate(0deg) scale(1); opacity: 1; }
}