// 1. PRIMERO todos los @use de Sass (Sin nada arriba)
@use 'css/variables' as v;
@use 'css/reset';
@use 'css/targeta';
@use 'animations/animaciones'; 
@use 'layout/cuadricula';
@use 'layout/filas';
@use './navbar/navbar.scss';
@use 'lightbox/lightbox';
@use 'css/personajes';
@use 'paginas/contacto/contacto';
