@use '../variables' as v;

.galeria-cuadricula { 
    display: grid; 
    gap: 0.5rem; 
    padding: 1rem; 
    max-width: 1100px; 
    margin: 0 auto; 
    
    grid-template-columns: repeat(3, 1fr); 

    .imagen { 
        aspect-ratio: 1 / 1; 
        width: 100%; 
        object-fit: cover;
        display: block;
        border-radius: 2px; 
        cursor: zoom-in; 
        background-color: white;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            z-index: 2; // Para que no quede debajo de las otras al agrandarse
        }
    }

    // TABLET: Se mantiene en 3 o puedes subir a 4
    @media (min-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    // DESKTOP: 5 columnas por fila
    @media (min-width: 900px) {
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5rem;
    }
}