@use '../css/variables' as v;

.pink-killer {
    background-color: rgb(202, 77, 152);
    color: rgb(93, 30, 47);
}

.dorian {
    background-color: rgb(53, 33, 53);
    text-decoration-color: rgb(33, 19, 44);
}
.faker {
    background-color: rgb(204, 204, 95);
    color: rgb(133, 107, 51);
}
.frani {
    background-color: rgb(198, 198, 116);
    color: rgb(69, 82, 65);
}
.abel {
    background-color: rgb(94, 156, 128);
    color: rgb(45, 58, 75);
}
.quimera {
    background-color: rgb(52, 144, 52);
    color: rgb(39, 66, 42);
}
.icarus {
    background-color: rgb(155, 129, 69);
    color: rgb(100, 62, 51);
}
