@use 'variables' as v;

* { box-sizing: border-box; margin: 0; padding: 0; }

body { 
    font-family: 'Montserrat', sans-serif; 
    background: v.$bg-main; 
    line-height: 1.7; 
    overflow-x: hidden; 
}

