@use 'variables' as v;

.galeria-cuadricula {
    .targeta { 
        padding: 7px; 
        border-radius: 10px; 
        text-align: center; 
        background-color: v.$primary;
        // IMPORTANTE: Esto hace que la tarjeta se ajuste al contenido (la imagen)
        width: fit-content; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .targeta-desc, .targeta-nombre {
        color: rgb(64, 53, 66); 
        background-color: #9c81a5;
        margin-top: 10px;
        margin: -3px;
        width: 100%;
        max-width: 100%;
    }
        .targeta-nombre{
        border-radius: 0 0 10px 10px;
    }
}