// src/components/main.scss

// 1. Variables y Base (Correctos si están en la carpeta css)
@use 'css/variables' as v;
@use 'css/reset';

// 2. Animaciones
@use 'animations/animaciones'; 

// 3. Layouts
@use 'layout/cuadricula';
@use 'layout/filas';

// 4. Navbar y Lightbox
@use 'navbar/navbar';
@use 'lightbox/lightbox';

// 5. Páginas y Recursos
@use 'css/personajes';

@use 'paginas/contacto/contacto';