@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme inline {
  /* Colores Personalizados */
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-bg-main: var(--bg-main);
  --color-bg-menu: var(--bg-menu);
  --color-white-custom: var(--white-custom);

  /* Colores de Personajes (Mapeo de tu Sass) */
  --color-frani: #fff9c4;
  --color-faker: #e9d841;
  --color-pinkkiller: #a65a92;
  --color-dorian: #684b6d;
  --color-florgelida: #bbdefb;
  --color-abel: #7c363d;
  --color-yoa: #c8e6c9;

  /* Espaciados y Layout */
  --spacing-container: 1100px;
  --spacing-pad-sm: 0.5rem;
  --spacing-pad-md: 1rem;
  --spacing-pad-lg: 1.25rem;

  /* Efectos */
  --shadow-custom-sm: 0 4px 6px rgba(0,0,0,0.1);
}

:root {
  /* Variables de Color */
  --primary: #67556d;
  --accent: #be97d1;
  --bg-main: #e4d7e6;
  --bg-menu: #67556d;
  --white-custom: #e4d7e6;
  --foreground: #ffffff; /* Tu $text-main */

  /* Radios de borde generales */
  --radius: 0.625rem;
}

@layer base {
  body {
    background-color: var(--bg-main);
    color: var(--foreground);
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}